<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="destription" content="Fakebook">
    <meta name="keyword" content="Fakebook, Smartninja, profile">
    <meta name="author" content="Katja Škafar">
    <title>Katja Škafar</title>
</head>
<body>
        <h1>FAKEBOOK</h1>
        <div>Search: <input type="text" placeholder="Search by name"></div>
        <h3>Friend suggestion:</h3>
        <br>
        <img src="static\img\katja.jpg" height="180px" width="180px" style="border-radius:50%;" alt="Katja's picture">
    <br>
    <h3>Katja Škafar</h3>
    <button>Add Friend</button>
    <button>Message</button>
    <button>More</button>
    <br>
    <h4>Info:</h4>
    <div><b>Connections:</b> 243</div>
    <div><b>Mutual friends:</b> 2</div>
    <div><b>Location:</b> Ljubljana, Slovenia</div>
    <div><b>Age:</b> 27</div>
    <div></div>

</body>
</html>