<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
    <h1>Welcome to my portfolio</h1>
    <a href="http://127.0.0.1:5000/portfolio/fakebook">Fakebook</a>
    <br>
    <a href="http://127.0.0.1:5000/portfolio/boogle">Boogle</a>
    <br>
    <a href="http://127.0.0.1:5000/portfolio/hairsalon">Hairsalon</a>


    <h3>Go to:</h3>
    <a href="http://127.0.0.1:5000/about">About me</a>
    <br>
    <a href="http://127.0.0.1:5000/">Home</a>
</body>
</html>